<h3>Select your hero and validate your choice</h3>
<div class="playerBoxs">
  <!-- Player 1 -->
  <div class="playerBox">
    <app-hero-selector
      (validateEvent)="selectP1Hero($event)"
    ></app-hero-selector>
  </div>
  <div class="vs">VS</div>
  <!-- Player 2 -->
  <div class="playerBox">
    <app-hero-selector
      (validateEvent)="selectP2Hero($event)"
    ></app-hero-selector>
  </div>
</div>
<div class="bottom">
  <div class="startBtn" (click)="startGame()">START</div>
  <div>
    <input class="keyBtn" id="keyBtn" type="checkbox" [(ngModel)]="withArrow" />
    <label for="keyBtn"> Use Arrows instead of Keys names (easy mode) </label>
  </div>
</div>
