<div class="weaponBloc">
  <div class="header">
    <h2>{{ weapon.name }}</h2>
  </div>
  <!-- Skin -->
  <div class="skin">
    <img
      class="weapon"
      src="/assets/Weapon/{{ weapon.skin }}.png"
      height="84px"
      width="136px"
    />
  </div>
  <!-- Stats -->
  <div class="stats">
    <div>
      <div class="stat">
        <div class="circle">{{ weapon.damage }}</div>
        <div class="icon">Dégats</div>
      </div>
      <div class="stat">
        <div class="circle">{{ weapon.health }}</div>
        <div class="icon">PV</div>
      </div>
    </div>
    <div>
      <div class="stat">
        <div class="circle">{{ weapon.speed }}</div>
        <div class="icon">Vitesse</div>
      </div>
      <div class="stat">
        <div class="circle">{{ weapon.dodge }}</div>
        <div class="icon">Esquive</div>
      </div>
    </div>
  </div>
</div>
