<h2>Créer un héro</h2>
<div>
  <label for="hero-name">Hero name: </label>
  <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" />
  <p>Stats</p>

<div class="range-slider">
  <input class="input-range" type="range" value="5" min="1" max="37" [(ngModel)]="hero.strength">
  <input type="text" class="range-value" [(ngModel)]="hero.strength"/>
</div>
<div class="range-slider">
  <input class="input-range" type="range" value="5" min="1" max="37" [(ngModel)]="hero.rapidity">
  <input type="text" class="range-value" [(ngModel)]="hero.rapidity"/>
</div>
<div class="range-slider">
  <input class="input-range" type="range" value="5" min="1" max="37" [(ngModel)]="hero.damage">
  <input type="text" class="range-value" [(ngModel)]="hero.damage"/>
</div>
<div class="range-slider">
  <input class="input-range" type="range" value="5" min="1" max="37" [(ngModel)]="hero.health">
  <input type="text" class="range-value" [(ngModel)]="hero.health"/>
</div>

<button (click)="create()">Créer</button>
