<h2>Créer un héro</h2>
<div>
  <label for="hero-name">Hero name: </label>
  <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" />
  <p>Stats</p>

<div class="range-slider">
  <input class="input-range" type="range" value="5" min="1" max="37" [(ngModel)]="hero.strength">
  {{hero.strength}}
</div>
<div class="range-slider">
  <input class="input-range" type="range" value="5" min="1" max="37" [(ngModel)]="hero.rapidity">
  {{hero.rapidity}}
</div>
<div class="range-slider">
  <input class="input-range" type="range" value="5" min="1" max="37" [(ngModel)]="hero.damage">
  {{hero.damage}}
</div>
<div class="range-slider">
  <input class="input-range" type="range" value="5" min="1" max="37" [(ngModel)]="hero.health">
  {{hero.health}}
</div>


<div *ngIf="hero.getLeftPoints() >= 0; else elseTemplate">
  <p>Points restants: {{ hero.getLeftPoints() }}</p>
<button (click)="create()">Créer</button>
</div>

<ng-template #elseTemplate>
  <p>Total depassé de {{ -hero.getLeftPoints() }} points</p>
</ng-template>


