nav {
  background-color: rgb(131, 131, 131);
  display: flex;
  a {
    display: inherit;
    padding: 20px;

    &:hover {
      background-color: rgb(156, 156, 156);
    }
  }
  margin-bottom: 20px;
}
