<h2>Editeur</h2>
<div *ngIf="hero">
  <label for="hero-name">Hero name: </label>
  <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" />
  <p>Stats</p>

  <div class="range-slider">
    <label>Damage : </label>
    <input class="input-range" type="range" value="5" min="1" max="37" [(ngModel)]="hero.damage">
    {{hero.damage}}
  </div>
  <div class="range-slider">
    <label>Speed : </label>
    <input class="input-range" type="range" value="5" min="1" max="37" [(ngModel)]="hero.speed">
    {{hero.speed}}
  </div>
  <div class="range-slider">
    <label>Dodge : </label>
    <input class="input-range" type="range" value="5" min="1" max="37" [(ngModel)]="hero.dodge">
    {{hero.dodge}}
  </div>
  <div class="range-slider">
    <label>Health : </label>
    <input class="input-range" type="range" value="5" min="1" max="37" [(ngModel)]="hero.health">
    {{hero.health}}
  </div>

  <div *ngIf="hero.weapon; else elseWeapon">
    <label>Arme : </label>
      <input type="number" value="1" [(ngModel)]="hero.weapon.id" />
      {{ hero.weapon.name }}
  </div>

    <ng-template #elseWeapon>
     <p>Ajouter une arme</p>
    </ng-template>

  <div *ngIf="hero.getLeftPoints() >= 0; else elseLeftPoints">
    <p>Points restants: {{ hero.getLeftPoints() }}</p>
    <button (click)="edit()">Modifier</button>
  </div>

  <ng-template #elseLeftPoints>
    <p>Total depassé de {{ -hero.getLeftPoints() }} points</p>
  </ng-template>
</div>