<h2>Editeur</h2>
<div *ngIf="hero">
  <label for="hero-name">Hero name: </label>
  <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" />
  <p>Stats</p>

  <div class="range-slider">
    <label>Damage : </label>
    <input
      class="input-range"
      type="range"
      value="5"
      min="1"
      max="37"
      [(ngModel)]="hero.damage"
    />
    {{ hero.damage }}
  </div>
  <div class="range-slider">
    <label>Speed : </label>
    <input
      class="input-range"
      type="range"
      value="5"
      min="1"
      max="37"
      [(ngModel)]="hero.speed"
    />
    {{ hero.speed }}
  </div>
  <div class="range-slider">
    <label>Dodge : </label>
    <input
      class="input-range"
      type="range"
      value="5"
      min="1"
      max="37"
      [(ngModel)]="hero.dodge"
    />
    {{ hero.dodge }}
  </div>
  <div class="range-slider">
    <label>Health : </label>
    <input
      class="input-range"
      type="range"
      value="5"
      min="1"
      max="37"
      [(ngModel)]="hero.health"
    />
    {{ hero.health }}
  </div>

  <div *ngIf="hero.weapon; else elseWeapon">
    <label>Arme : </label>
    {{ hero.weapon.name }}
  </div>

  <ng-template #elseWeapon>
    <p>Pas d'arme</p>
  </ng-template>

  <div *ngIf="weapons" class="weaponBlocs">
    Choisir une arme
    <div
      class="weaponBloc"
      *ngFor="let weapon of weapons"
      (click)="choseWeapon(weapon)"
    >
      {{ weapon.name }}
    </div>
  </div>

  <!-- Skin -->
  <div class="skinBox">
    <div class="skin">
      <!-- Head -->
      <img class="head" src="/assets/Head.png" height="140px" width="140px" />
      <!-- Body -->
      <img
        class="body"
        src="/assets/Armor/{{ hero.armorSkin }}.png"
        height="200px"
        width="200px"
      />
    </div>
    <!-- Body arrows -->
    <div class="arrows">
      <span (click)="nextArmor()"><-</span>
      <span (click)="previousArmor()">-></span>
    </div>
  </div>

  <div *ngIf="hero.getLeftPoints() >= 0; else elseLeftPoints">
    <p>Points restants: {{ hero.getLeftPoints() }}</p>
  </div>

  <ng-template #elseLeftPoints>
    <p>Total depassé de {{ -hero.getLeftPoints() }} points</p>
  </ng-template>

  <button (click)="equilibrate()">Equilibrer le héro</button>
  <button (click)="random()">Randomiser les stats</button>
</div>
