<h2>Editeur</h2>
<div *ngIf="hero">
  <label for="hero-name">Hero name: </label>
  <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" (change)="isValid()"/>
  <p>Stats</p>

  <div class="range-slider">
    <label>Damage : </label>
    <input
      class="input-range"
      type="range"
      value="5"
      min="1"
      max="37"
      [(ngModel)]="hero.damage"
      (change)="isValid()"
    />
    {{ hero.damage }}
  </div>
  <div class="range-slider">
    <label>Speed : </label>
    <input
      class="input-range"
      type="range"
      value="5"
      min="1"
      max="37"
      [(ngModel)]="hero.speed"
      (change)="isValid()"
    />
    {{ hero.speed }}
  </div>
  <div class="range-slider">
    <label>Dodge : </label>
    <input
      class="input-range"
      type="range"
      value="5"
      min="1"
      max="37"
      [(ngModel)]="hero.dodge"
      (change)="isValid()"
    />
    {{ hero.dodge }}
  </div>
  <div class="range-slider">
    <label>Health : </label>
    <input
      class="input-range"
      type="range"
      value="5"
      min="1"
      max="37"
      [(ngModel)]="hero.health"
      (change)="isValid()"
    />
    {{ hero.health }}
  </div>

  <div *ngIf="hero.weapon; else elseWeapon">
    <label>Arme actuelle  </label>
    <app-weapon-display
      [weapon]="hero.weapon"
    ></app-weapon-display>
    <button (click)="noWeapon()">Enlever l'arme</button>
  </div>

  <ng-template #elseWeapon>
    <p>Pas d'arme</p>
  </ng-template>



  <div *ngIf="weapons" class="weaponBlocs">
    Choisir une arme
    <div *ngFor="let weapon of weapons">
      <app-weapon-display
        *ngIf="weapon.id != hero.weapon.id"
        [weapon]="weapon"
        (click)="choseWeapon(weapon)"
      ></app-weapon-display>
    </div>
  </div>

  <div *ngIf="hero.getLeftPoints() >= 0; else elseLeftPoints">
    <p>Points restants: {{ hero.getLeftPoints() }}</p>
  </div>

  <ng-template #elseLeftPoints>
    <p>Total depassé de {{ -hero.getLeftPoints() }} points</p>
  </ng-template>

  <button (click)="equilibrate()">Equilibrer le héro</button>
  <button (click)="random()">Randomiser les stats</button>
</div>
