<h2>Editeur</h2>
<div *ngIf="weapon">
  <label for="weapon-name">Weapon name: </label>
  <input id="weapon-name" [(ngModel)]="weapon.name" placeholder="name" (change)="isValid()"/>
  <p>Stats</p>

  <div class="range-slider">
    <label>Damage : </label>
    <input class="input-range" type="range" value="0" min="-5" max="5" [(ngModel)]="weapon.damage" (change)="isValid()">
    {{weapon.damage}}
  </div>
  <div class="range-slider">
    <label>Speed : </label>
    <input class="input-range" type="range" value="0" min="-5" max="5" [(ngModel)]="weapon.speed" (change)="isValid()">
    {{weapon.speed}}
  </div>
  <div class="range-slider">
    <label>Dodge : </label>
    <input class="input-range" type="range" value="0" min="-5" max="5" [(ngModel)]="weapon.dodge" (change)="isValid()">
    {{weapon.dodge}}
  </div>
  <div class="range-slider">
    <label>Health : </label>
    <input class="input-range" type="range" value="0" min="-5" max="5" [(ngModel)]="weapon.health" (change)="isValid()">
    {{weapon.health}}
  </div>


  <div *ngIf="weapon.getDifference() === 0; else elseTemplate">
    <p>Arme valide !</p>
  </div>

  <ng-template #elseTemplate>
    <p>Différence : {{ weapon.getDifference() }} points</p>
  </ng-template>

</div>
