#arena {
  width: 100vw;
  height: 85vh;
  position: relative;

  background-image: url("/assets/Images/arena.png");
  // FIXME BEFORE DEPLOY: Uncomment this line
  // background-image: url("/~gastoudy/info7/assets/Images/arena.png");
  background-size: 100% 100%;

  .healthbar {
    position: relative;

    &.left {
      position: absolute;
      left: 0;
    }

    &.right {
      position: absolute;
      right: 0;
    }
  }
  #winner {
    color: black;
    position: absolute;
    left: 35%;
    font-size: 50px;
    visibility: hidden;
  }


  .display {
    position: absolute;

    .damage {
      visibility: hidden;
      position: absolute;
      top: -150px;
      left: 100px;
      background-color: red;
      border-radius: 30px;
      height: 60px;
      width: 60px;
      text-align: center;
      vertical-align: center;
      p {
        margin-top: 20px;
        font-size: 25px;
        font-weight: bold;
      }
    }
    .combo {
      position: absolute;
      top: -50px;
      display: flex;

      .key {
        background-color: white;
        border-radius: 8px;
        height: 50px;
        width: 50px;
        text-align: center;
        margin: 5px;

        span {
          font-size: 25px;
          color: black;
        }

        &.highlight {
          background-color: rgb(221, 255, 28);
        }

        &.red {
          background-color: rgb(255, 55, 37);
        }

        &.green {
          background-color: rgb(70, 255, 37);
        }
      }
    }

    &.left {
      left: 328px;
      bottom: 90px;

      .combo {
        left: -50px;
      }
    }

    &.right {
      right: 368px;
      bottom: 90px;
      .combo {
        right: -50px;
      }
    }

    &.flip {
      .skinBox {
        transform: scaleX(-1);
      }
    }

    .skinBox {
      .skin {
        margin: 10px;
        position: relative;
        height: 330px;
        width: 280px;

        .head {
          position: absolute;
          top: 0;
          left: 36px;
          z-index: 1;
        }

        .body {
          position: absolute;
          top: 120px;
          left: 0;
          z-index: 0;
        }

        .weapon {
          position: absolute;
          z-index: 1;
          transform: rotate(-70deg);
          top: 135px;
          right: 5px;
        }
      }
    }
  }
}
